@{
    Layout = null;
}
@model ProductAddonSettingsModel
@using System.Web.Mvc.Html
@using FoxNetSoft.Plugin.Misc.ProductAddon.Models
@using Nop.Web.Framework
<div>
    @using (Html.BeginForm())
    {
        @*@Html.ValidationSummary(false)*@
        <table class="adminContent">
        @if (Model.IsArsUa == false)
        {
            <tr>
                <td colspan="2" width="100%">
                    @if (Model.IsRegisted == true)
                    {
                        @T("FoxNetSoft.ProductAddon.IsRegisted")
                    }
                    else
                    {
                        @T("FoxNetSoft.ProductAddon.IsNoRegisted")
                    }
                </td>
            </tr>
        }
            <tr>
                <td colspan="2" width="100%">
                    <a href="@Url.Action("CreateSampleData")" class="t-button">@T("FoxNetSoft.ProductAddon.CreateSampleData")</a>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.showDebugInfo):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.showDebugInfo)
                    @Html.ValidationMessageFor(model => model.showDebugInfo)
                </td>
            </tr>
       <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowCustomersToSelectPageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.AllowCustomersToSelectPageSize)
                @Html.ValidationMessageFor(model => model.AllowCustomersToSelectPageSize)
            </td>
        </tr>
        <tr id="pnlPageSize">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.PageSize)
                @Html.ValidationMessageFor(model => model.PageSize)
            </td>
        </tr>
        <tr id="pnlPageSizeOptions">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PageSizeOptions):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.PageSizeOptions)
                @Html.ValidationMessageFor(model => model.PageSizeOptions)
            </td>
        </tr>
        @if (Model.IsArsUa == false)
        {
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model=> model.StoreUrl):
                </td>
                <td class="adminData">
                    <b>@Model.StoreUrl</b>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(m => m.SerialNumber):
                </td>
                <td class="adminData">
                    @Html.EditorFor(m => m.SerialNumber)
                    @Html.ValidationMessageFor(m => m.SerialNumber)
                </td>
            </tr>
        }
            <tr>
                <td colspan="2" width="100%">
                    <button type="submit" name="save" value="save" class="t-button">
                        @T("Admin.Common.Save")</button>
                </td>
            </tr>
        @if (Model.IsArsUa == false)
        {
            <tr>
                <td colspan="2" width="100%">
                    Installing and Configure plugin on our youtube channel <a href="http://www.youtube.com/foxnetsoft" target="blank" >www.youtube.com/foxnetsoft</a>
                     <br />
                    Installing and Configure plugin on our forum <a href="http://www.foxnetsoft.com/boards" target="blank" > www.foxnetsoft.com/boards </a>
                     <br />
                     <a href="http://www.foxnetsoft.com" target="blank" >www.foxnetsoft.com</a>
                </td>
            </tr>
        }
        </table>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)").click(togglePageSize);
                togglePageSize();
            });

            function togglePageSize() {
                if ($('#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)').is(':checked')) {
                    $('#pnlPageSize').hide();
                    $('#pnlPageSizeOptions').show();
                } else {
                    $('#pnlPageSize').show();
                    $('#pnlPageSizeOptions').hide();
                }
            }
        </script>        
    }
</div>
