@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}

<div class="leftside-3">
    @if (IsSectionDefined("left"))
    {
        @RenderSection("left")
    }
    else
    {
        @Html.Widget("left_side_column_before")
        <div class="clear">
        </div>
        @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
        <div class="clear">
        </div>
        @Html.Action("ManufacturerNavigation", "Catalog", new { currentManufacturerId = currentManufacturerId })
        <div class="clear">
        </div>
        @Html.Action("PopularProductTags", "Catalog")
        <div class="clear">
        </div>
        @Html.Action("PollBlock", "Poll", new { systemKeyword = "LeftColumnPoll" })
        <div class="clear">
        </div>
        @Html.Widget("left_side_column_after")
    }
</div>
<div class="center-3">
    @Html.Widget("main_column_before")
    @RenderBody()
    @Html.Widget("main_column_after")
</div>
<div class="rightside-3">
    @if (IsSectionDefined("right"))
    {
        @RenderSection("right")
    }
    else
    {
        @Html.Widget("right_side_column_before")
        <div class="clear">
        </div>
        @Html.Action("NewsletterBox", "Newsletter")
        <div class="clear">
        </div>
        @Html.Action("RecentlyViewedProductsBlock", "Catalog")        
        <div class="clear">
        </div>  
        @Html.Action("InfoBlock", "Common")   
        <div class="clear">
        </div>   
        @Html.Action("PollBlock", "Poll", new { systemKeyword = "RightColumnPoll" })
        <div class="clear">
        </div>
        @Html.Widget("right_side_column_after")
    }
</div>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="981" height="277" background="/Themes/Electronics/Content/Footerimages/anasayfa-enalt.jpg" border="0" style="
    background-repeat: no-repeat;
">
  <tr>
    <th height="38" colspan="2" scope="row"><p style="padding-top:-90px; margin-top:-1px; padding-left:12px;"><font size="+3" face="Georgia" color="#3d67a2"><b><i>Hayyam Çarşısı'na Hoşgeldiniz!</i></b></font></p></th>
    <td width="402">&nbsp;</td>
  </tr>
  <tr>
    <td width="568" height="206" scope="row"><p style="margin-left:4px; margin-top:-20px;"><font size="-1" face="Tahoma" style="
    font-size: 12px;">
"Yaratıcılığınızı Konuşturmak için Gereken Her Şey" sloganıyla yola çıkan
Hayyam Çarşısı, fotoğraf ve videoyla la ilgili tüm ürünleri en uygun fiyat
garantisiyle sizlerle buluşturmayı amaçlıyor. 
Sitemizde bulunan tüm ürünler, 2 yıl garantili orijinal ürünlerdir. Satın almanız 
durumunda aynı gün kargoya verilir ve Türkiye'nin her yerine ücretsiz kargo
imkanıyla sizlere ulaştırılır. 
Fotoğrafa ve fotoğrafçılığa yürekten bağlı, sanatın ve sanatçının yanında bir ekip
tarafından kurulmuş olan Hayyam Çarşısı, hayalini kurduğunuz fotoğrafları
ve videoları çekebilmeniz için tüm imkanları sağlıyor. 

Kalite, performans ve fiyat üçgeninde müşteriye en uygun hizmeti veren
Hayyam Çarşısı; yaratıcılığınızı beslemek için oluşturulan Bloguyla da, en güncel
fotoğraf haberlerinden yaratıcı çekim tekniklerine ve fotoshop derslerine kadar
her konuda bilgi sahibi olmanıza yardımcı oluyor. 
Güvenli alışveriş
Satın alma ve iade süreçlerinde, e-posta yoluyla sizleri bilgilendiren
Hayyam Çarşısı, Secure Sockets Layer (SSL) teknolojisini kullanarak
şahsi bilgilerinizi şifreler ve alışverişinizi gönül rahatlığıyla yapabilmeniz için
güvenliğinizi maksimuma çıkarır.</font></p></td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
</body>
</html>