@model AddonListModel
@using Nop.Core.Infrastructure
@using Telerik.Web.Mvc.UI
@using FoxNetSoft.Plugin.Misc.ProductAddon.Models
@using Nop.Web.Framework
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    
    //page title
    ViewBag.Title = @T("Admin.FoxNetSoft.ProductAddon.Manage").Text;
    //Html.AddCssFileParts(@Url.Content("~/Plugins/AlexSoft.Filemanager/Styles/AlexSoftFilemanager.css"));
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        @T("Admin.FoxNetSoft.ProductAddon.Manage")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="t-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
        @if (Model.IsRegisted == false)
        {
            <tr>
                <td colspan="2" width="100%">
                    @T("FoxNetSoft.ProductAddon.IsNoRegisted")        
                </td>
            </tr>
        }
    <tr>
        <td>
            @(Html.Telerik().Grid<AddonModel>(Model.Addons.Data)
                    .Name("categories-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.DatenStart)
                            .Width(100);
                        columns.Bound(x => x.DatenEnd)
                            .Width(100);
                        columns.Bound(x => x.CssClassName)
                            .Width(100)
                            .Centered();
                        columns.Bound(x => x.TypeAddon)
                            .Width(25)
                            .Centered(); 
                        columns.Bound(x => x.Description);
                        columns.Bound(x => x.Published)
                            .Width(100)
                            .Template(x => x.Published.ToString().ToLower())
                            .Centered();
                        columns.Bound(x => x.Id)
                            .Width(50)
                            .Centered()
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Title(T("Admin.Common.Edit").Text);
                    })
                    .Pageable(settings => settings.Total(Model.Addons.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "ProductAddon"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
