@using Nop.Core.Infrastructure
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("AdminHeaderLinks", "Common")
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
            //<![CDATA[
            //replace the first parameter with "true" to use popup notifications
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
            //]]>
        </script>
        <div class="header">
		<div class="header-link">
		  &nbsp;&nbsp; <a href="http://www.hayyamcarsisi.com">Anasayfa</a> / <a href="http://www.hayyamcarsisi.com/t/aboutus">Hakkımızda</a> / <a href="http://www.hayyamcarsisi.com/contactus">İletişim</a>
		</div>
            <div class="header-logo">
                <a href="@storeLocation" class="logo">
                    <img src="@Url.Content("~/Themes/Electronics/Content/images/hayyamcarsisi.jpg")" alt="" /></a>
            </div>
			<div class="header-logo">
<div class="header-logo">
            </div>

            <div class="header-links-wrapper">
                @Html.Action("HeaderLinks", "Common")
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </div>
            <div class="header-shopping-bag">
			<ul id="topcartlink" style="margin-top:28px">
                @Html.Action("ShoppingCartBox", "ElectronicsThemeCommon")
            </div>
			</ul>
        </div>
        <div class="clear">
        </div>
        <div class="top-bar">
            <div class="header-languageselector">
                @Html.Action("LanguageSelector", "Common")
            </div>
            <div class="header-currencyselector">
                @Html.Action("CurrencySelector", "Common")
            </div>
            <div class="header-taxDisplayTypeSelector">
                @Html.Action("TaxTypeSelector", "Common")
            </div>
            <div class="searchbox">
                @Html.Action("SearchBox", "Catalog")
				<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
</head>

<body onload="MM_preloadImages('http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/apple-mouse-btn.jpg','http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/wacom-mouse-btn.jpg','http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/indirimdekiler-mouse-btn.jpg','http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/aynigunkargo-mouse-btn.jpg')">
<table width="980"  height="27" border="0">
  <tr>
    <th background="http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/arka-plan.jpg" scope="row"><a href="http://www.hayyamcarsisi.com/apple-2" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/apple-mouse-btn.jpg',1)"><img src="http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/apple-btn.jpg" alt="Apple Urunlerine Git" name="Image1" width="69" height="27" hspace="4" border="0" align="left" id="Image1" style="margin-right:35px" /></a><a href="http://hayyamcarsisi.com/wacom" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/wacom-mouse-btn.jpg',1)"><img src="http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/wacom-btn.jpg" name="Image2" width="78" height="27" border="0" align="left" id="Image2" style="margin-right:35px"/></a><a href="http://hayyamcarsisi.com/Indirimdekiler" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/indirimdekiler-mouse-btn.jpg',1)"><img src="http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/indirimdekiler-btn.jpg" name="Image3" width="112" height="27" border="0" align="left" id="Image3" style="margin-right:35px"/></a><a href="http://hayyamcarsisi.com/ayni-gun-kargo" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/aynigunkargo-mouse-btn.jpg',1)"><img src="http://hayyamcarsisi.com/Themes/Electronics/Content/header-images/aynigunkargo-btn.jpg" name="Image4" width="120" height="27" border="0" align="left" id="Image4" /></a></th>
  </tr>
</table>
</body>
</html>

            </div>
        </div>
        <!--top-bar-->
        @Html.Action("CategoryBreadcrumb", "ElectronicsThemeCatalog")
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-wrapper-main">
            @RenderBody()
        </div>
		
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<script>
function Goster(){
var q;
q=document.getElementById("bilgi");
q.style.display="";
document.getElementById("link").focus();


document.getElementById("link").setAttribute("oncl ick","Gizle()");
}
function Gizle(){
var q;
q=document.getElementById("bilgi");
q.style.display="none";
document.getElementById("link").setAttribute("oncl ick","Goster()");
}


</script>
</head>

<body>
<div>
<div class="link"><a onblur="Gizle()" onclick="Goster()" id="link" class="link" href="javascript://"><img src="/Themes/Electronics/Content/Footerimages/hayyamcarsisi-neden-biz.jpg" alt="Neden Hayyamçarşısı ?" width="981" height="20" /></a></div>
<div class="bilgi" id="bilgi" style="display:none;">
<table width="981" height="277" background="/Themes/Electronics/Content/Footerimages/anasayfa-enalt.jpg" border="0">

  <tr>
    <th height="38" colspan="2" scope="row"><p style="padding-top:-90px; margin-top:-1px; padding-left:12px;"><font size="+3" face="Georgia" color="#3d67a2"><b><i>Hayyam Çarşısı'na Hoşgeldiniz!</i></b></font></p></th>
    <td width="402">&nbsp;</td>
  </tr>
  <tr>
    <td width="568" height="206" scope="row"><p style="margin-left:4px; margin-top:-20px;"><font size="-1" face="Tahoma" style="font-size: 12px;">
	
"Yaratıcılığınızı Konuşturmak için Gereken Her Şey" sloganıyla yola çıkan
Hayyam Çarşısı, fotoğraf ve videoyla la ilgili tüm ürünleri en uygun fiyat
garantisiyle sizlerle buluşturmayı amaçlıyor. 
Sitemizde bulunan tüm ürünler, 2 yıl garantili orijinal ürünlerdir. Satın almanız 
durumunda aynı gün kargoya verilir ve Türkiye'nin her yerine ücretsiz kargo
imkanıyla sizlere ulaştırılır. 
Fotoğrafa ve fotoğrafçılığa yürekten bağlı, sanatın ve sanatçının yanında bir ekip
tarafından kurulmuş olan Hayyam Çarşısı, hayalini kurduğunuz fotoğrafları
ve videoları çekebilmeniz için tüm imkanları sağlıyor. 

Kalite, performans ve fiyat üçgeninde müşteriye en uygun hizmeti veren
Hayyam Çarşısı; yaratıcılığınızı beslemek için oluşturulan Bloguyla da, en güncel
fotoğraf haberlerinden yaratıcı çekim tekniklerine ve fotoshop derslerine kadar
her konuda bilgi sahibi olmanıza yardımcı oluyor. 
Güvenli alışveriş
Satın alma ve iade süreçlerinde, e-posta yoluyla sizleri bilgilendiren
Hayyam Çarşısı, Secure Sockets Layer (SSL) teknolojisini kullanarak
şahsi bilgilerinizi şifreler ve alışverişinizi gönül rahatlığıyla yapabilmeniz için
güvenliğinizi maksimuma çıkarır.</font></p></td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
</div>
</div>
</body>
</html>


		<div class="footer-css">
		
		<script type="text/javascript" src="script.js" language="javascript">

</script>
 
<script>

clrInput = function(ob,s)
{
if(ob.value==s)
ob.value='';
}
function rldInput(ob,s)
{
if(ob.value=='')
ob.value=s;
}

</script>




</head>

<body>




<table width="962" height="401" border="0">

  <tr>

    <td height="72" colspan="5" align="center" valign="middle" scope="row">
    
    <hr style="
    z-index: 1;
    margin-bottom: -12px;
    border-width: 1px;
    border-color: #3d67a2;">
    
    <input name="" value="Bultene Abone Ol" type="text" onBlur="rldInput(this,'Bultene Abone Ol')" onFocus="clrInput(this,'Bultene Abone Ol')" style="
    border: 1px solid #3d67a2;
    color: #AAAAAA;
    margin-right: -4px;
    margin-left: 390px;
    width: 135px;">
    
    <input  type="image" src="http://hayyamcarsisi.com/Themes/Electronics/Content/Footerimages/buton.jpg" 
    style="
    vertical-align: middle;
    border: 1px solid #3d67a2;">

</td>

  </tr>

  <tr>

    <td width="184" align="left" valign="top" scope="row">
    
    <font face="Georgia" color="#505050"><i><u> Müşteri Hizmetleri</u><br />
    
    <br />
    
    <a href="http://hayyamcarsisi.com/t/conditionsofUse">Kullanıcı Sözleşmesi      </a><br />
	<a href="http://hayyamcarsisi.com/t/privacyinfo">Gizlilik Hakları              </a><br />
    <a href="http://hayyamcarsisi.com/t/shippinginfo">Kargo & İade                 </a><br />
    <a href="http://hayyamcarsisi.com/contactus">İletişim                          </a><br />
        
          
    </i>
    
    </font>
    
    </td>

    <td width="140" height="139" align="left" valign="top">
    
    <font face="Georgia" color="#505050"><i><u>Keyifli Alışveriş</u><br />
    
    <br />
    
    En Çok Satanlar   <br />
    Yeni Gelenler <br />
    Markalarımız    <br />
	<a href="http://hayyamcarsisi.com/sitemap"> Site Haritası   </a><br />
    </i>
    
    </font>
    
    </td>

    <td width="121" align="left" valign="top">
    
    <font face="Georgia" color="#505050"><i><u>Kurumsal</u><br />
    
    <br />
    
    Ödeme Yöntemleri <br/>
	Güvenli Ödeme    <br/>
	<a href="http://www.hayyamcarsisi.com/t/aboutus">Hakkımızda </a><br/>
	Yarışma          <br/>
	Blog             <br/>
    </i>
    
    </font>
    
    </td>

    <td width="183" rowspan="2" align="center" valign="bottom">
    
    <img alt="" src="/Themes/Electronics/Content/Footerimages/internetten-guvenli-alisveris.jpg" width="163" height="52" style="
    padding-top: 25px;
    margin-left: 12px;" />
    <img alt="" src="/Themes/Electronics/Content/Footerimages/guvenli-alisveris.jpg" width="183" height="240" />
    
    </td>
    <td width="312" rowspan="2" align="right" valign="bottom">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FHayyamCarsisi&amp;width=300&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:310px;" allowTransparency="true"></iframe></td>


  </tr>

  <tr>

    <td height="176" colspan="3" align="center" valign="bottom" scope="row">
    
    
    <a href="https://www.facebook.com/HayyamCarsisi"><img alt="" src="/Themes/Electronics/Content/Footerimages/facebook.jpg" width="80" height="80" style="padding-left: 14px;" /></a>
   <a href="https://plus.google.com/104478210947493470347/posts?hl=tr"><img alt="" src="/Themes/Electronics/Content/Footerimages/google.jpg" width="78" height="78" /></a>
    <a href="https://twitter.com/HayyamCarsisi"><img alt="" src="/Themes/Electronics/Content/Footerimages/twitter.jpg" width="78" height="78" /></a>
    <a href="http://www.pinterest.com/hayyamcarsisi/boards/"><img alt="" src="/Themes/Electronics/Content/Footerimages/pinterest.jpg" width="77" height="76" /></a>
   <img alt="" src="/Themes/Electronics/Content/Footerimages/instagram.jpg" width="76" height="77" />
   <img alt="" src="/Themes/Electronics/Content/Footerimages/kartlar.jpg" width="449" height="39" vspace="5" />
    <img alt="" src="/Themes/Electronics/Content/Footerimages/kartlar-2.jpg" width="270" height="39" style="padding-left: 85px;"/>
    
    </td>


  </tr>
</table></div>

</body>
</html>

        @Html.Widget("content_after")
	
        @Html.Action("EuCookieLaw", "Common")
        @Html.Action("InfoBlock", "Common")
        <div class="footer-storetheme">
            @Html.Action("StoreThemeSelector", "Common")
        </div>
    </div>
    <!--master-wrapper-content-->
</div>
<!--master-wrapper-page-->
@Html.Widget("body_end_html_tag_before")
